*,:after,:before{box-sizing:border-box;margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif}
html{font-size:calc(100vw/19.2);scroll-behavior:smooth}
body{background:#000;color:#fff}
ol,ul,li{vertical-align:middle;list-style-type:none}
img{vertical-align:top;border:0;max-width:100%}
a{text-decoration:none;color:inherit}
input,select,textarea,button{vertical-align:middle;outline:none}
::-webkit-scrollbar{width:5px;background-color:transparent}
::-webkit-scrollbar-thumb{width:3px;border-radius:4px;background:transparent;box-shadow:inset 0 0 0 0 #39ff14;transition:box-shadow .5s ease}
html.is-scrolling::-webkit-scrollbar-thumb{box-shadow:inset 0 0 0 5px #39ff14}
::-webkit-scrollbar-thumb:hover{box-shadow:inset 0 0 0 5px #5dff2e}
*{scrollbar-width:thin;scrollbar-color:transparent transparent}
html.is-scrolling{scrollbar-color:#39ff14 transparent}
::selection{background-color:transparent}